html
  head
    title= title
    link(
      rel='stylesheet'
      href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'
    )
    link(
      rel='stylesheet'
      href='https://unpkg.com/formiojs@latest/dist/formio.full.min.css'
    )
    script(src='https://unpkg.com/formiojs@latest/dist/formio.full.min.js')
    script(type='text/javascript' src='javascript/app.js')
    link(rel='stylesheet' href='style/index.css')

  body
    h1= message
    div(id='formio')
